# Test Document

In [1]:
# @title Initialization

%reload_ext malloy

Malloy ahoy

In [2]:
%%malloy_model model

source: airports is table('duckdb:data/airports.parquet') {
  declare:
    airports_count is count()
}

✅ Stored in model

In [3]:
%%malloy_query model results

query: airports -> {
  group_by: faa_region
  aggregate:
    airports_count
  limit: 10
}

✅ Stored in results

In [4]:
print(results)

  faa_region  airports_count
0        AGL            4437
1        ASW            3268
2        ASO            2924
3        AEA            2586
4        ANM            2102
5        ACE            1579
6        AWP            1503
7        ANE             763
8        AAL             608
9        NaN              23